:root {
  /* Primary */
  --moderate-violet: hsl(263 55% 52%);
  --grayish-blue: hsl(217 19% 35%);
  --blackish-blue: hsl(219 29% 14%);
  --white: hsl(0 0% 100%);

  /* Neutral */
  --light-gray: hsl(0 0% 81%);
  --light-grayish-blue: hsl(210 46% 95%);

  /* Opacities */
  --op-1: 50%;
  --op-2: 70%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(39, 47%, 94%);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 0.8125rem;
  height: 100dvh;
  display: grid;
  place-items: center;
}

img {
  display: block;
  max-width: 100%;
}

article {
  padding: 0.8rem;
  border-radius: 0.5rem;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: min(90%, 60rem);
}

article:nth-child(1) {
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right 30px;

  background-color: var(--moderate-violet);
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

article:nth-child(2) {
  background-color: var(--grayish-blue);
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

article:nth-child(3) {
  background-color: var(--light-grayish-blue);
  grid-column: 1 / 2;
  grid-row: 2;
}

article:nth-child(4) {
  background-color: var(--blackish-blue);
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

article:nth-child(5) {
  background-color: var(--light-grayish-blue);
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}

.flex-items {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  width: 32px;
}

.name h2:not(.dark-name) {
  color: var(--light-grayish-blue);
}

.name h2,
.dark-name {
  color: var(--blackish-blue);
  font-size: 0.9375rem;
}

.status {
  color: var(--white);
  font-size: 0.75rem;
  opacity: var(--op-1);
}

.dark-status {
  color: var(--blackish-blue);
  opacity: var(--op-1);
}

.text-bold {
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 600;
  margin-block: 1rem;
}

.dark {
  color: var(--blackish-blue);
}

.quote {
  color: var(--light-gray);
}

.dark-quote {
  color: var(--blackish-blue);
  opacity: var(--op-2);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
